{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Edit Goal{% else %}Create New Goal{% endif %} - FitTrack
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">
            <i class="fas fa-bullseye me-2"></i>
            {% if form.instance.pk %}Edit Goal{% else %}Create New Goal{% endif %}
        </h1>
        <hr>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">
                    {% if form.instance.pk %}
                        Edit "{{ form.instance.title }}"
                    {% else %}
                        Goal Details
                    {% endif %}
                </h5>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.title|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.goal_type|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.target_value|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.target_date|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'goal_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-2"></i>Back to Goals
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-2"></i>
                            {% if form.instance.pk %}Save Changes{% else %}Create Goal{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}